<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NASDAQ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/pure-min.css">
</head>

<body>
<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>Symbol</th><th>Date</th><th>Open</th><th>High</th><th>Low</th><th>Close</th><th>Volume</th><th>Graph</th>
    </tr>
    </thead>
    <tr th:each="webTableRow : ${webTableRows}">
        <td th:text="${webTableRow.eodPoint.symbol}"></td>
        <td th:text="${webTableRow.eodPoint.date}"></td>
        <td th:text="${webTableRow.eodPoint.open}"></td>
        <td th:text="${webTableRow.eodPoint.high}"></td>
        <td th:text="${webTableRow.eodPoint.low}"></td>
        <td th:text="${webTableRow.eodPoint.close}"></td>
        <td th:text="${webTableRow.eodPoint.volume}"></td>
        <td th:if="${webTableRow.firstRow}" th:attr="rowspan=${webTableRow.rowsInGroup}">Graph goes here</td>
    </tr>
</table>

</body>

</html>