<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NASDAQ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/pure-min.css">
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
</head>

<body>
<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>Symbol</th><th>Date</th><th>Open</th><th>High</th><th>Low</th><th>Close</th><th>Volume</th><th>Graph</th>
    </tr>
    </thead>
    <tr th:each="webTableRow : ${webTableRows}">
        <td th:text="${webTableRow.eodPoint.symbol}"></td>
        <td th:text="${webTableRow.eodPoint.date}"></td>
        <td th:text="${webTableRow.eodPoint.open}"></td>
        <td th:text="${webTableRow.eodPoint.high}"></td>
        <td th:text="${webTableRow.eodPoint.low}"></td>
        <td th:text="${webTableRow.eodPoint.close}"></td>
        <td th:text="${webTableRow.eodPoint.volume}"></td>
        <td th:if="${webTableRow.firstRow}" th:attr="rowspan=${webTableRow.rowsInGroup}">
            <div th:attr="id=${webTableRow.eodPoint.symbol}+'-graph'" style="width:600px;height:250px;"></div>
        </td>
    </tr>
</table>

<script th:inline="javascript">
    let graphElement;
    let rawGraphSpec;
    let parsedGraphSpec;
    [# th:each="webTableRow : ${webTableRows}"]
      [# th:if="${webTableRow.firstRow}"]
        graphElement = document.getElementById([[${webTableRow.eodPoint.symbol}]]+'-graph');
        rawGraphSpec = [[${webTableRow.getCandlestickData().toString()}]];
        parsedGraphSpec = JSON.parse(rawGraphSpec);
        console.log(parsedGraphSpec);
        Plotly.newPlot(
            graphElement,
            [parsedGraphSpec],
            { margin: { t: 0 } } );
      [/]
    [/]
</script>

</body>

</html>